//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 28 13:28:06 2016
//! **************************************************************************

SCHEMATIC START;
COMP "sw" LOCATE = SITE "P11" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "clk_div_transmisor" LOCATE = SITE "J3" LEVEL 1;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "sw2<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "sw2<1>" LOCATE = SITE "K3" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "N13" LEVEL 1;
COMP "canal_serial" LOCATE = SITE "A9" LEVEL 1;
COMP "canal_serial_transmision" LOCATE = SITE "B9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

